{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
    {% csrf_token %}
    <table>
        {% for field in form.visible_fields %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" value="Change Password" />
</form>

{% endblock %}
